/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/* -----------------------------SR-ONLY & HIDDEN------------------------- */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.hidden {
  display: none !important;
}

/* -----------------------------MAIN PART-------------------------------- */
body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-family: 'Overpass', sans-serif;
  min-height: 100vh;
}

.cont {
  background-color: hsl(214, 19%, 14%);
  padding: 1.3rem;
  border-radius: 20px;
  max-width: 21rem;
}

.stand__h {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.7rem;
}

.stand__p {
  font-size: 0.8rem;
  color: #c9c8c8;
}

.succ__p {
  font-size: 0.9rem;
  color: #c9c8c8;
  margin-bottom: 0.8rem;
}

.succ_wrapper {
  background-color: #32373e6c;
  max-width: 15rem;
  color: #fb7413;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.87rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.bttn {
  background-color: hsl(25, 97%, 53%);
  padding: 0.7rem;
  border-radius: 20px;
  width: 98%;
  text-align: center;
  margin-top: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

label {
  cursor: pointer;
  color: #DDDDDD;
}

.circlestr {
  background: #32373e6c;
  border-radius: 100%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.3rem;
}

.circle {
  background: #32373e6c;
  border-radius: 100%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  gap: 1.4rem;
}

form {
  margin-top: 1.5rem;
}

input[type=radio]:checked + label {
  background: #43474b;
  color: #ffffff;
}

input[type=radio]:focus + label {
  background: #fb7413;
  color: #000000;
}

.bttn:hover {
  background-color: #fff;
  color: #3A3A3A;
}

.succ {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.succ__img {
  width: 50%;
  margin-top: 0.4rem;
}